body {
    font-family: Andale Mono, monospace;
}

div#wrapper {
    width: 99%;
    padding: 10px;
    margin: 0 auto;
    background: #6A5F6D;
}

div#header {
    height: 80px;
    background: #6A5F6D;
    margin-bottom: 10px;
}

div#sidebar {
    height: 700px;
    background: #9fb9f5;
    margin-bottom: 10px;
    width: 10%;
    float: left;
}

div#content {
    height: 700px;
    background: #6A5F6D;
    margin: 0 0 10px 11%;
    width: 89%;
}

div#footer {
    height: 80px;
    background: #41874e;
    margin-bottom: 10px;
}

canvas {
    width: 770px;
    //outline: 2px solid black;
    height: 500px;
    background: #ffffff;
}

div h1 {
    text-align: center;
    color: #ffffff
}

div h1 span{
    color: #ff8c87
}

div#header_sidebar {
    height: 30px;
    background: #ff8c87;
}

div#header_sidebar h4 {
    text-align: center;
    margin: 0px;
}

div#menu {
    margin: 10px;
}

div#small_info {
    height: 500px;
    margin-top: 50px;
    background: #bfeeff;
    padding: 5px;
}

input[type=button] {
    margin: 10px;
    margin-left: 40px;
    width: 100px;
    height: 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

div#left_col {
    height: 500px;
    width: 770px;
    float: left;
    margin: 20px;
    margin-top: 0px;
}

div#right_col {
    height: 500px;
    width: 770px;
    float: right;
    margin: 20px;
    margin-top:0px;
}

div#control_panel {
    height: 100px;
    //outline: 2px solid black;
    width: 95%;
    position: relative;
    float: left;
    top: 80px;
}

span#num_proc {
    margin-left: 40px;
    color: #ffffff
}

input[type=text] {
    width: 75px;
    border: 1px solid #ffffff;
    -webkit-border-radius: 3px;
    background: #ffffff !important;
    outline: none;
}

input[type=text]:focus {
    color: black;
    border: 1px solid white;
}
